.list-container{
    width: 484px;
    height: 69px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.list-container p{
    margin-right: 200px;
    color: #8FA8C1;

}
.list-container .renderItem{
cursor: pointer;
}
.list-container del{
    margin-right: 200px;
    color: #8FA8C1;
    /* cursor: pointer; */

}
.list-container img{
width: 23px;
height: 23px;
margin-left: 25px;
color: #8FA8C1;
cursor: pointer;
}
input{
    width: 234px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    border: 1px solid white;
    background-color: transparent;
    padding-left: 20px;
}
.save-button{
    /* width: 30px;
    height: 14px; */
    width: 76px;
    height: 40px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    background-color: #0C5488;
    cursor: pointer;
}
.cancel-button{
    /* width: 46px;
    height: 14px; */
    width: 76px;
    height: 40px;
    margin-left: 10px;
    border-radius: 5px;
    color: #0C5488;
    border: none;
    background-color: #8FA8C1;
    cursor: pointer;
}
.list-bottom{
    width: 484px;
    height: 69px;
     color: #0C5488;
    /* background-color: rgb(29, 153, 202); */
    display: flex;
    justify-content: center;
    align-items: center;

}

